spring:
  application:
    name: userprofile-service

server:
  port: ${PORT}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
  instance:
    prefer-ip-address: false
    instance-id: "${spring.application.name}:${server.port}"

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
    timeout: 60000

